body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #131313;
  }

.navbar {
background-color: black;
padding: 1rem 3rem;
display: flex;
justify-content: space-between;
align-items: center; 
z-index: 999;

}


.cart {
    position: relative;
    display: inline-block;
    background-color: #ff9900; 
    padding: 0 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cart-icon {
    font-size: 20px;
    vertical-align: middle;
    
  }
  
  
  .cart-items {
    position: absolute;
    top: -2px;
    right: 23px;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 14px;
  }
  

.search-bar {
padding: 5px;
width: auto;
border: none;
}

.search-bar input {
    height: 30px;
    width: 400px;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 10px;
}

.search-button {
    background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 8px 15px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
    background-color: #63aeff;
}

  .logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 20%,
         #efff11 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

/* Additional CSS for the Products Page */

h1 {
    text-align: center;
    background-color: #ff8177;
    background-image: linear-gradient(
      to right,
      #ffffff 0%,
      #ff867a 0%,
      #ff7878 21%,
      #cf556c 78%,
      #b12a5b 100%
    );
    background-size: 100%;
    margin-top: 5rem;
    font-size: 2.5rem; /* Corrected font size value */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  

.content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.search-results {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.8);
    overflow: hidden;
}

.search-results img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

.search-results img:hover {
    opacity: 0.8;
}

.search-results a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-button {
    background-color: #007bff;
    font-size: 17px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        max-height: 40px;
        transition: all 1s ease;
        justify-content: space-between; /* Stack items vertically */
        text-align: center; /* Center text */

    }

    .logo {
        font-size: 1.5rem;
        padding-right: 4rem;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30px;
    }
    .cart {
    position: relative;
    display: inline-block;
    background-color: #ff9900; 
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px;
    margin-left: 4rem;
    }

    .cart-icon {
        font-size: 15px;
        vertical-align: middle;
        
      }
      
      .cart-items {
        position: absolute;
        top: 1px;
        right: 9px;
        padding: 2px 4px;
        border-radius: 50%;
        font-size: 13px;
      }

    .search-button {
        margin-left: 0.5rem;
    }

    .search-results {
        width: 45%;   
    }
}


@media screen and (max-width: 500px) {
    .navbar {
        display: flex;
        max-height: 40px;
        
        justify-content: space-between; /* Stack items vertically */
        text-align: center; /* Center text */

    }

    .logo {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding-right: 4rem;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30px;
    }
    .cart {
    position: relative;
    display: inline-block;
    background-color: #ff9900; 
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px;
    margin-left: 4rem;
    }

    .cart-icon {
        font-size: 15px;
        vertical-align: middle;
        
      }
      
      .cart-items {
        position: absolute;
        top: 1px;
        right: 9px;
        padding: 2px 4px;
        border-radius: 50%;
        font-size: 12px;
      }

    .search-button {
        margin-left: 0.5rem;
    }  

    .search-results {
        width: 100%;   
    }

}



